#ffl-bridge-test-result {
	display: inline-block;
	margin-left: 0.5rem;
}

.ffl-bridge-test-success {
	color: #008a20;
}

.ffl-bridge-test-error {
	color: #b32d2e;
}

.ffl-bridge-coverage-table {
	max-width: 60rem;
}
